/* 사용한 색상, :root를 트게더에서 사용 불가능. */
/* :root {
	--primary-color: #ff6b6b;
	--secondary-color: #ffbebe;
	--component-color: transparent;
	--component-secondary-color: #ffeeee;
} */

html {
	height: auto !important;
}

body {
	background: url('https://hiphil2000.github.io/WoouTGD/res/img/1.png'), url('https://hiphil2000.github.io/WoouTGD/res/img/2.png'), url('https://hiphil2000.github.io/WoouTGD/res/img/3.png'), #FFFFFF;
	animation: background 20s linear infinite;
}

/* 상단 메뉴 */
	header #header-bar>.row {
		border: none;
	}

	header #header-bar #header-top-notice strong.notice-badge {
		background-color: #ff6b6b;
	}
	header #right-search-form>input[type=text] {
		border-color: #ff6b6b;
	}

	header #right-search-form>#right-search-btn {
		color: #ff6b6b;
	}

	

/* 좌측 메뉴 */
	#main .menu-wrapper {
		border: 1px solid #ff6b6b;
		border-radius: 15px;
		overflow: hidden
	}

	#main .menu-wrapper>.header {
		background-color: #ff6b6b;
	}

	#main .menu-wrapper>a>i.fa.fa-square, #main .menu-wrapper>a>em {
		color: #ffbebe;
	}

	#main .menu-wrapper .spacer {
		background-color: #ffbebe;
	}


/* 헤더 */
	header #header-bar>.row {
		border-top: 5px solid #ff6b6b;
	}

	#board-info {
		position: relative;
		overflow: visible;
	}

	#board-info h1 {
		border-bottom-color: #ffbebe;
	}

	#board-info h1, #board-info #board-info-bottom {
		margin-left: 85px;
	}

	/* 프로필 이미지 아이콘 */
	#board-info #board-info-profile-img {
		width: 75px;
		height: 75px;
		display: inline-block;
		position: absolute;
		border-radius: 100%;
		left: 13px;
		top: 50%;
		transform: translateY(-50%);
	}

	/* 컨텐츠 */
	#article-list-category {
		margin: 0;
	}

	#article-list #article-list-category {
		border-top: 2px solid #ff6b6b;
		background: transparent;
	}

	/* 카테고리 스타일 변경 */
	#article-list #article-list-category>a, #article-list #article-list-category > a.active {
		background: transparent;
		border: 2px solid #ff6b6b;
		border-top: none;
		border-bottom-left-radius: 100%;
		border-bottom-right-radius: 100%;
		margin: 0 4px 5px 0;
	}

	/* 활성화된 카테고리만 secondary로 */
	#article-list #article-list-category > a.active {
		border-color: #ffbebe;
	}

	/* 테이블 스타일 변경  */
	#article-list>.article-list-row, #article-list>.article-list-row.notice {
		background: #ffffff;
		border: 2px solid #ffbebe;
		border-radius: 15px;
		margin-bottom: 4px;
	}

	/* 글 목록 보더 제거 */
	#article-list>.article-list-row>.item>.list-checkbox, #article-list>.article-list-row>.item>.list-header, #article-list>.article-list-row>.item>.list-category, #article-list>.article-list-row>.item>.list-title, #article-list>.article-list-row>.item>.list-blocked, #article-list>.article-list-row>.item>.list-time {
		border: none !important;
	}

	/* 공지글 */
	#article-list>.article-list-row.notice {
		border-color: #ff6b6b;
	}

	/* 인기글 */
	#article-list>.article-list-row.hot {
		background-color: #ffeeee
	}

	/* 컨텐츠 프레임 보더 제거 */
	#main #main-content>div.frame {
		border: none;
	}

/* 푸터 */
	#article-list #article-list-menu>.btn.write {
		background-color: #ff6b6b;
		border: none;
		border-radius: 15px;
	}

	#article-list #article-list-menu>.btn.best {
		border-color: #ff6b6b;
		color: #ffbebe;
		border-radius: 15px;
	}

/* 폰트 설정 */

	#board-info #board-info-bottom a {
		color: #ffbebe
	}

	
/*animations*/

@keyframes background {

    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }

}

/*animations end*/
